# Core Frameworks
streamlit
langchain
langchain-core
langchain-community

# LLM & Embeddings
langchain-groq
langchain-huggingface
sentence-transformers
faiss-cpu

# Data & API Handling
arxiv
pypdf
python-dotenv
requests
pandas

# Visualization
plotly